
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">

  <form enctype="multipart/form-data" method="post" >{% csrf_token %}
      <h3> Download file with id</h3>
   <p><input type="file" name="file">
   <input type="submit" value="Отправить"></p>
  </form>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>id product</th>
        <th>title</th>
        <th>price</th>
          <th>url</th>
          <th>description</th>
          <th>category</th>
          <th>rating reviews</th>
           <th>brand</th>
          <th>amount</th>
          <th>delivery price</th>
          <th>How match</th>

      </tr>
    </thead>
    <tbody>
    {% for product in products %}
      <tr>
          <td>{{ product.id_product }}</td>
          <td>{{ product.title }}</td>
          <td>{{ product.price }}</td>
          <td>{{ product.url }}</td>
          <td>{{ product.description }}</td>
          <td>{{ product.category }}</td>
          <td>{{ product.rating_reviews }}</td>
          <td>{{ product.brand }}</td>
          <td>{{ product.in_stock }}</td>
          <td>{{ product.delivery_price }}</td>
         <td>  <form action="{% url 'products'%}" method="post" >
             {% csrf_token %}
   <p><input type="text" name="text"required placeholder="How match products">
       <input type="hidden" name="text1" value="{{ product.id_product }}">
   <input type="submit" value="Add to Cart"></p>
  </form></td>

          {%endfor%}
      </tr>
    </tbody>
  </table>
</div>

</body>
</html>